<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/home/index">Expasys Task</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarCollapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/home/index">Главная</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/cart/index">Корзина (<span id="cart-count">0</span>)</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/admin/order/index">Администратор</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/order/index">Заказы</a>
                            </li>
                        }
                        <li class="nav-item">
                            <button id="logout-btn" class="btn btn-outline-danger">Выход</button>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/account/login">Вход</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            loadCartCount();

            function loadCartCount() {
                $.ajax({
                    url: "/Cart/GetCartCount",
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        $("#cart-count").text(response.count);
                    },
                    error: function () {
                        $("#cart-count").text("0");
                    }
                });
            }

            $("#logout-btn").on("click", function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/Account/Logout",
                    type: "POST",
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            window.location.href = response.redirectUrl;
                        }
                    },
                    error: function () {
                        alert("Ошибка при выходе из системы");
                    }
                });
            });

            $(document).on("cart-updated", function () {
                loadCartCount();
            });
        });
    </script>
</header>