<div class="col-3">
    <div class="row">
        <a href="/admin/order">Заказы</a>
    </div>
    <div class="row">
        <a href="/admin/user">Пользователи</a>
    </div>
    <div class="row">
        <a href="/admin/role">Роли</a>
    </div>
    <div class="row">
        <a href="/admin/product">Продукты</a>
    </div>
</div> 